
<h2>Title: <%= @movie_entry.title %></h2>

<p>Description: <%= @movie_entry.content %></p>

<% if authorized_to_edit?(@movie_entry) %>
<a href="/movies_list/<%= @movie_entry.id %>/edit">Edit</a>
<br><br>
<form class="" action="/movies_list/<%= @movie_entry.id %>" method="post">
 <input type="hidden" name="_method" value="DELETE">
 <input type="submit" name="" value="Delete this Entry">
 </form/>
<% end %>