
<h2>Title: <%= @movie_entry.title %></h2>

<p>Description: <%= @movie_entry.content %></p>

<a href="/movies_list/<%= @movie_entry.id %>/edit">Edit</a>
<a href="/movies_list/<%= @movie_entry.id %>/edit">Delete</a>